$fontfamily: 'Open Sans', sans-serif;

%transition {
  transition: all .2s ease-in-out;
}

button,
.button,
[type="submit"] {
  @extend %transition;
  cursor: pointer;
  background: none;
  color: #fff;

  &:hover {
    background: #fff;
    color: #000;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $fontfamily;
  width: 100vw;
  height: 100vh;
}

canvas {
  display: none;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  &.playing {
    display: block;
  }
}

.splashscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &.not-displayed { display: none; }

}

.startGameWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.startGame {
  @extend %transition;
  display: inline-block;
  border: 1px solid #fff;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  padding: 20px;
  box-sizing: border-box;

  &:hover {
    background: #000;
  }
}

.keys {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  margin: 20px 0;

  span {
    display: block;
    margin-bottom: 10px;
  }
}

.gameoverscreen {
  transition: all .5s ease-in-out;
  width: 500px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -200px;
  background: rgba(black, .9);
  border: 1px solid #424242;
  transform: translateY(-1000px);
  opacity: 0;
  visibility: hidden;
  z-index: 100;

  h1 {
    color: #fff;
    font-style: 30px;
    margin-bottom: 20px;
    text-align: center;
  }

  &.open {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  .button {
    border: 1px solid #fff;
    font-size: 16px;
    text-align: center;
    padding: 10px 20px;
    box-sizing: border-box;
    display: block;
    margin: 20px auto 0;
  }
}

.gameoverscore {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}